table {
    border: 1px solid black;
}

table tr td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

table tr .w {
    background-color: white;
}

table tr .b {
    background-color: black;
}

table tr .e i {
    color: darkolivegreen;
}

table tr .p i {
    color: burlywood;
}

td{
    text-align: center;
    vertical-align: middle;
}